
<html ng-app>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript"></script>
    <script type="text/javascript" src="scripts/lotto.js"></script>
	<script type="text/javascript"src="scripts/angular.min.js"></script> 
  </head>
  
 <body>
 This is a simple web app built using angularjs and underscore.js<br>
 This is a simple Quick Pick simulation.<br><hr>
  <div ng-controller="PickerCtrl"> 
	
	<form class="form_horizontal">
	  How many Quick Picks: <input type="text" ng-model="formTodoPB" ng-model-instant>
	  <button class="lrgBTN" ng-click="addPowerBall()">Get PowerBall</button> <br>
	  How many Quick Picks: <input type="text" ng-model="formTodoLotto" ng-model-instant>
	  <button class="lrgBTN" ng-click="addLotto()">Get Lotto</button>
	</form>	

	 <ul class="unstyled">
	   <li ng-repeat="todo in todos">
	  <!--    {{todo.text}} -->
		  <span class="done-{{todo.done}}">{{todo.text}}</span>
	   </li>
	 </ul>


	<button class="lrgBTN" ng-click="clearTodo()">Clear Completed Tasks</button>
       
  </div>

</body>
</html> 